{
  "openapi": "3.1.0",
  "info": {
    "title": "Samora AI Outbound Call API",
    "description": "The Samora AI Outbound Call API lets you trigger immediate outbound calls through the Samora AI system. Use it to start calls with your AI agents, pass context via metadata, and retrieve call details including transcripts and recordings.\n\n**Phone number format:** Destination numbers must be in E.164 format (e.g. `+919876543210`) and include the country code. The pattern is: `+` followed by 10–15 digits.\n\n**Call statuses:** When you fetch call details, `status` can be: `PENDING`, `TRIGGERED`, `ONGOING`, `CALL_FINISHED`, `UNANSWERED`, `REJECTED`.\n\n**Transcripts and recordings:** For finished calls, presigned URLs for transcript and recording are valid for 60 minutes.",
    "version": "1.0.0",
    "contact": {
      "name": "Samora AI Support",
      "email": "vineeth@samora.ai"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.samora.ai",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Calls",
      "description": "Trigger and retrieve outbound call details"
    }
  ],
  "paths": {
    "/v1/call/trigger": {
      "post": {
        "tags": ["Calls"],
        "summary": "Trigger call",
        "description": "Triggers an immediate outbound call using the specified AI agent. The call is queued and processed asynchronously.",
        "operationId": "triggerCall",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TriggerCallRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Call request accepted and queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerCallResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "message": "Call request accepted",
                      "status": "accepted",
                      "call_id": "550e8400-e29b-41d4-a716-446655440000"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid request body or phone number format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalidPhoneNumber": {
                    "value": {
                      "message": "Invalid phone number format. Please use E.164 format (e.g., +919876543210)"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Agent not found or does not belong to your company",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "agentNotFound": {
                    "value": {
                      "message": "Agent not found or does not belong to your company"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/call/{call_id}": {
      "get": {
        "tags": ["Calls"],
        "summary": "Get call details",
        "description": "Retrieves detailed information about a specific call by its ID. The call must belong to an agent that belongs to your company. Transcript and recording URLs are presigned and valid for 60 minutes.",
        "operationId": "getCallDetails",
        "parameters": [
          {
            "name": "call_id",
            "in": "path",
            "required": true,
            "description": "The UUID of the call to retrieve. Returned as `call_id` from the Trigger call endpoint.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCallDetailsResponse"
                },
                "examples": {
                  "finishedCall": {
                    "value": {
                      "message": "Call details fetched successfully",
                      "data": {
                        "agent_id": "123e4567-e89b-12d3-a456-426614174000",
                        "created_at": "2024-01-15T10:30:00Z",
                        "updated_at": "2024-01-15T10:35:00Z",
                        "started_at": "2024-01-15T10:30:05Z",
                        "ended_at": "2024-01-15T10:35:30Z",
                        "transcript_url": "https://s3.amazonaws.com/bucket/transcript.pdf?X-Amz-Algorithm=...",
                        "recording_url": "https://s3.amazonaws.com/bucket/recording.mp3?X-Amz-Algorithm=...",
                        "status": "CALL_FINISHED",
                        "call_variables": {
                          "name": "John Doe",
                          "email": "john.doe@example.com",
                          "customer_id": "CUST-001"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid call ID format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Call not found or does not belong to your company",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "callNotFound": {
                    "value": {
                      "message": "Call not found or does not belong to your company"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Your unique organization API key. Required on all requests."
      }
    },
    "schemas": {
      "TriggerCallRequest": {
        "type": "object",
        "required": ["agent_id", "to_number"],
        "properties": {
          "agent_id": {
            "type": "string",
            "format": "uuid",
            "description": "The UUID of the AI agent to conduct the call."
          },
          "to_number": {
            "type": "string",
            "description": "The destination phone number in E.164 format (e.g. +919876543210). Must include country code. Pattern: + followed by 10–15 digits.",
            "pattern": "^\\+[0-9]{10,15}$"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Optional. Additional metadata to pass context to the agent (e.g. customer information, call objectives). Arbitrary key-value pairs."
          }
        },
        "additionalProperties": false
      },
      "TriggerCallResponse": {
        "type": "object",
        "required": ["message", "status", "call_id"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable status message."
          },
          "status": {
            "type": "string",
            "description": "Status value, e.g. accepted.",
            "examples": ["accepted"]
          },
          "call_id": {
            "type": "string",
            "format": "uuid",
            "description": "The unique identifier for the call (UUID). Use this to fetch call details later."
          }
        },
        "additionalProperties": false
      },
      "GetCallDetailsResponse": {
        "type": "object",
        "required": ["message", "data"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable status message."
          },
          "data": {
            "$ref": "#/components/schemas/CallDetails"
          }
        },
        "additionalProperties": false
      },
      "CallDetails": {
        "type": "object",
        "required": ["agent_id", "created_at", "updated_at", "status"],
        "properties": {
          "agent_id": {
            "type": "string",
            "format": "uuid",
            "description": "The UUID of the AI agent that conducted the call."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the call record was created (ISO 8601)."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the call record was last updated (ISO 8601)."
          },
          "started_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Timestamp when the call started (ISO 8601). Null if not yet started."
          },
          "ended_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Timestamp when the call ended (ISO 8601). Null if not yet ended."
          },
          "transcript_url": {
            "type": ["string", "null"],
            "format": "uri",
            "description": "Presigned URL to access the call transcript (valid for 60 minutes). Null if not available."
          },
          "recording_url": {
            "type": ["string", "null"],
            "format": "uri",
            "description": "Presigned URL to access the call recording (valid for 60 minutes). Null if not available."
          },
          "status": {
            "type": "string",
            "enum": ["PENDING", "TRIGGERED", "ONGOING", "CALL_FINISHED", "UNANSWERED", "REJECTED"],
            "description": "Current status of the call."
          },
          "call_variables": {
            "type": ["object", "null"],
            "additionalProperties": true,
            "description": "Additional variables associated with the call (e.g. metadata passed at trigger time). Null if none."
          }
        },
        "additionalProperties": false
      },
      "Error": {
        "type": "object",
        "required": ["message"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message."
          }
        },
        "additionalProperties": false
      }
    }
  }
}